*{
	margin:0;
	padding: 0;
	font-family: 'Cagliostro', sans-serif;

}
form{
	list-style: none;
	padding:1% 2%; 
}

fieldset{
	padding: 1%;
	border-radius: 10px;
	/*border-color: #00F2E4;*/
	border: solid 5px #00F2E4;
	margin-bottom: 10px;

}

label{
	display: inline-block;
	margin-bottom : 10px; 
}

.section{
	margin-bottom: 40px;
}

.submit_button{
	display: block;
	width: 200px;
	/*height: 180px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	background-color:#00F2E4;
	border: solid 3px black;
	border-radius: 10px;
}

legend{
	font-size: 24px;
}

h4{
	font-size: 28px;
}

.title_style{
	display: inline-block;
	width: 1000px;

	margin-left: 20px;
	justify-content: center;

}

h2{
	display: inline;
	font-size: 40px;
	/*line-height: 128px;*/
}