#wrap header{
	display: inline-block;
	/*align-it ems:right;*/
	
	background-color: yellow;
	width: 100%;
	max-height: 3%;
	font-size: 30px;
}
#wrap header>h1{
	/*float: right;*/
	text-align: right;
	position: relative;
	right: 0%;
}
#wrap ul{
	display:block;
	width: 100%;
	max-height: 3%;
}
#wrap nav li{
	display: block;
	width: 10%;
	height: auto;
	float: right;
}